.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emoji {
  font-size: 4rem;
}
.bar{
  color: grey;
}
.error{
  font-weight: 400;
}